@font-face {
    font-family: 'Just Another Hand';
    src: url('./JustAnotherHand-Regular.ttf') format('truetype'); 
    font-weight: 800;
    font-style: normal; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Just Another Hand';
    font-size: 30px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

body {
    height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 1em;
}

.nav-bar div {
    align-self: stretch;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
}

.nav-bar div:hover {
    scale: 1.2;
    background-color: aliceblue;
}

.nav-bar button {
    padding: 5px 10px;
    border-radius: 15%;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s;
}

.nav-bar button:hover {
    scale: 1.2;
    background-color: aliceblue;
    font-weight: bold;
}

.content {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.heading {
    grid-column: 1 / 3;
}

.nav-bar {
    grid-column: 1 / 2;
    grid-row: 2;
}

.task-display {
    padding: 25px;
    grid-column: 2 / 3;
    background-color: rgb(241, 241, 220);
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 35px;
    overflow-y: auto;
    overflow-wrap: normal;
    z-index: 1;
}

.task-notes {
    overflow-wrap: normal;
}

.footer {
    grid-column: 1 / 3;
    background-color: black;
    color: white;
}

.task-div {
    border-radius: 5%;
    padding: 10px;
    background-color: aliceblue;
    position: relative;
}

.task-div button {
    padding: 5px 10px;
    border-radius: 15%;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s;
    background-color: red;
    color: white;
}

.task-div button:hover {
    scale: 1.2;
    font-weight: bold;
}

input[type="checkbox"] {
    appearance: none;
    position: absolute;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
    top: -20px;
    left: -5px;
    border: 1px solid black;
  }
  
  input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top: -0.3em;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }